* {
    box-sizing: border-box;
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 10px;
    overflow: auto;
}

.content {
    float: left;
    width: 75%;
}

header {
    display: inline;
}

.heading {
    padding: 40px;
    background-image: linear-gradient(to right top, #1d5dd4, #0062c1, #0063aa, #106191, #355e78);
    text-align: center;
    font-size: 22px;
    color: white;
    font-family: 'Righteous', cursive;
}


nav {
    font-family: 'Courier New', Courier, monospace;
    /* background-color: #1d5dd4; */
    background-color: #3AB4F2;
    padding: 5px;
    text-align: center;
    position: sticky;
    top: 0;
}

nav li {
    display: inline;
    text-transform: uppercase;
}

nav a {
    text-decoration: none;
    margin: 2px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: white;
    justify-content: space-between;
}

nav a:hover {
    color: black;
}

.box {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border-radius: 10px;
    background-image: linear-gradient(to right top, #3ab4f2, #00a0ef, #008be9, #0075e1, #1d5dd4);
    color: white;
    margin-top: 10px;
    padding: 15px;
    text-align: center;
}

.box a {
    text-decoration: none;
    color: white;
}

.box ul li {
    list-style-type: none;
    text-align: center;
}

.education .background {
    display: flex;
    flex: wrap;
    justify-content: center;
    font-size: 18px;
}

.background {
    display: flex;
}

.background .telkomsc img {
    width: 150px;
}

.background .college img {
    width: 190px;
}

.skills figure {
    justify-content: center;
}


.skills .grup-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

figcaption {
    text-align: center;
    margin: 0;
}

.skills .grup-skill img {
    width: 200px;
}

.grup-skill figcaption {
    margin-top: 10px;
}

.contact img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.contact figcaption {
    text-align: left;
    font-weight: bold;
    color: white;
}

.contact ul li a {
    list-style-type: none;
    color: white;
    text-decoration: none;
}

.box figcaption {
    text-align: center;
    font-size: 20px;
}

.box section table tr {
    text-align: center;
}


aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 19px;
    font-weight: bold;
    background-color: #00a2c6;
}

@media screen and (max-width: 1000px) {

    .content,
    aside {
        width: 100%;
        padding: 0;
    }
}